

/*header styles*/
*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
    /*scroll-behavior: smooth;*/
}
html{
    width: 1020px;
    margin: 0 auto;
    background-color: palegoldenrod;
}
.header,.ourServices,.portfolio,.aboutUs,.getAQuote,.footer{
    padding: 0 40px;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 89px;
    background-color:#2d303a;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid #323746    ;
}
.logo {
    display: flex;
    align-items: center;
}
.header-h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size:25px;
    letter-spacing: -0.02em;
}
.header-h1-star {
    color:#f06c64;
    font-size: 26px;
}
.navigation{    
    display:flex;
    padding-top: 8px;
}
.header-navigation{
    align-self: center;
    font-size:12px;
    text-transform: uppercase;
    color:white;
}

.navigation-item {
    color: #323746;
    margin-left: 28px;
}

.navigation-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
/*пофиксить*/
.red-item{
    list-style-type: none;
}
.navigation-link:hover{
    color:#f06c64;
}
/*body styles*/

/*************************************singolo1*****************************************/

/*singolo1.slider*/
/*caruselka*/
.slider{
    height: 600px;
    position: relative;
}
.carousel{
    position: absolute;
    width: 100%;
    text-align: center;
    /*top:50%;
    left:50%;
    transform: translate(-50%,-50%);*/
}
.item-container{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.item{
    display:none;
    position: relative;
    animation:  0.5s ease-in-out;
}
.item.active,
.next{
    display: block;
}
.next{
    position: absolute;
    top:0;
    width: 100%;
}
.slide{
    display: flex;
    padding: 0 40px;
    height: 594px;
    justify-content: space-evenly;
}
.slide1{
    background-color: #F06C64;
    border-bottom: 6px solid #EA676B;
}
.slide2{
    background-color: #648BF0;
    border-bottom: 6px solid #638AE1;
}
.project-name{
    padding:10px
}
.phoneWrapper{
    position: relative;
    align-self: center;
}
.phoneDisplay{
    position: absolute;
    display: none;
}
.phoneButton{
    position: absolute;
}
.phoneVerticalDisplay{
    left: 16px;
    top: 66px;
}
.phoneHorizontalDisplay{
    left: 61px;
    top: 15px;
}
.phoneSlide2Display{
    left: 145px;
    top: 69px;
}
.buttonHomeVertical{
    bottom: 36px;
    left: 88px;
}
.buttonHomeHorizontal{
    bottom: 114px;
    left: 10px;
}
.buttonHomeSlide2{
    bottom: 40px;
    left: 225px;
}

.control{
    position: absolute;
    top:0;
    bottom: 0;
    width: 58px;
    cursor: pointer;
}
.control.left{
    left:0;
    right: auto;
}
.control.right{
    left:auto;
    right: 0;
}
.arrow{
    display: inline-block;
    position: absolute;
    top: 281px;
    /*
    top:232px;
    left:0;
    transform: translatey(-50%);*/
    font-size: 40px;
}
.arrow.right{
    left: 2px;
}
.arrow.left{
    right:0;
}

.to-left{
    animation-name: left;
}
.to-right{
    animation-name: right;
    animation-direction: reverse;
}

.from-left{
    animation-name: left;
    animation-direction: reverse;
}

.from-right{
    animation-name: right;
}

@keyframes left{
    from{
        left:0;
    }
    to{
        left:-100%
    }
}
@keyframes right{
    from{
        left:100%;
    }
    to{
        left:0%
    }
}
/*singolo1.ourServices*/
.ourServices{
    background-color: #f2f2f2;
    padding-top: 59px;
    height:435px;
    border-bottom: 6px solid #ffffff;;
}

.ourServices-h2{
    color: #666d89;
    font-size: 30px;
    letter-spacing: -0.2px;
    margin-bottom: 18px;
    font-weight: 900;
}
.ourServices-h2-text{
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 42px;
    color: #767e9e;
    font-weight: 300;
    height: 60px;
    overflow: hidden;
}
.tool-icon{
    padding-top:4px;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service{
    display: flex;
    align-items: flex-start;
    width: 300px;
    height: 90px;
    margin-bottom: 33px
}
.service-header {
    font-size: 18px;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    color: #666d89;
}
.service-text{
    padding-left: 18px;
}
.service-text-p{
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    margin-top: 9px;
    color: #767e9e;
    white-space: pre-wrap;
    font-weight: 400;
}

/*************************************singolo2*****************************************/
/*singolo2.portfolio*/
.portfolio{
    height: 804px;
    padding-top: 59px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}
.portfolio-h2{
    color: #666d89;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.2px;
    margin-bottom: 22px;   
}
.portfolio-h2-text{
    color: #767e9e;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.button{
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 6px 2px 6px ;
    color: #666d89;
    border: 1px solid #666d89;
    background-color: #2d303a;
    margin:0 7px 19px 0;
    cursor: pointer;
}
.button:hover{
    color:#c5c5c5;
    border: 1px solid #c5c5c5;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 606px;
    border: none;
    overflow: hidden;
}
.gallery-img{
    box-sizing: border-box;
    width: 220px;
    height: 187px;
    margin:0 0 20px 0;
    cursor: pointer;
}

/*singolo2.aboutUs*/
.aboutUs{
    height: 669px;
    padding-top: 59px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    overflow: hidden;
}
.aboutUs-h2{
    font-size: 30px;
    color: #666d89;
    font-weight: 800;
    letter-spacing: -0.2px;
    margin:0 0 18px 0;
}
.aboutUs-h2-text{
    font-size: 18px;
    text-align: justify;
    color: #767e9e;
    font-weight: 300;
    line-height: 30px;
    margin-bottom:45px;
}
.profiles{
    display: flex;
    justify-content: space-between;
}
.person{
    width: 300px;
}
.person-photo{
    width: 300px;
    margin-bottom:11px;
}
.person-name{
    font-size: 18px;
    color: #666d89;
    font-weight: 900;
    margin-bottom:9px;
    letter-spacing: -0.2px;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.person-text{
    font-size: 12px;
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.06px;
    margin-bottom: 21px;
}
.social-link{
    cursor: pointer;
}
.person-links img{
    margin-right: 2px;
}
.social-link:hover{
    outline: 1px solid #767e9e;
}
/*************************************singolo3*****************************************/
/*singolo3.GetAQuote*/
.whiteText{
    color: #f0d8d9;
}

.getAQuote {
    height: 589px;
    padding-top:59px;
    background-color: #f06c64;
    border-bottom:6px solid #ea676b;
}

.getAQuote-h2{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.2px;
}

.getAQuote-h2-text  {
    padding:20px 0 44px 0px;
    font-size: 18px;
    font-weight: 300;
    word-spacing: 0.03px;
    line-height: 29px;
    white-space: normal;
    text-align: justify;
}

.getAQuote-content{
    display: flex;
}

.contactInfot-h3{
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.1px;
}
.contactInfot-h3-text{
    margin-top: 12px;
    font-size: 12px;
    letter-spacing: -0.04px;
    line-height: 22px;
    text-align: justify;
}

.field-wrapper{
    width: 619px;
    margin-right: 21px;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
}
.field{
    width: 605px;
    height: 36px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f0d8d9;
    padding:0 0 2px 14px;
    border: hidden;
    margin-bottom: 16px;
    font-size: 12px;
    vertical-align: top;
    outline:none;
}
.field:required:valid{
    outline: 2px solid green;
    outline-style: auto;
}
.field:required:invalid:focus{
    outline: 2px solid red;
    outline-style: auto;
}

button.send{
    justify-content: flex-end;
    width: 80px;
    height: 22px;
    align-self: flex-end;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d6564f;
}

::placeholder {
    color: #f48c8f;
}
.largeField{
    padding-bottom: 166px;
}
.contactInfo{
    width: 300px;
}
.contact-wrapper{
    margin:20px 0 0 3px;
}
.contact-wrapper div{
    display: flex;
    line-height: 22px;
}
.contact-link{
    text-decoration: none;
    color:inherit;
}

.contact{
    font-size: 12px;
}
.contact-img {
    min-width: 20px;
}
/*footer*/
.footer{
    height: 76px;
    background-color: #2d303a;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-links img{
    margin: 3px 0 0 1px;
}
.copyright{
    color:#656d89;
    font-size: 12px;
    padding:0 0 2px 2px;
    letter-spacing: -0.2px;
}






.inline-flex{
    display: inline-flex;
}
.activeNavigationButton{
    color:#f06c64;
}
.activePortfolioButton{
    color:#c5c5c5;
    borderColor:#c5c5c5;
}