
/*header styles*/
*{
    margin: 0;
    padding: 0;
    font-family: "Lato";
}
html{
    width: 1020px; 
}
.header {
    padding: 0 40px;
    height: 89px;
    background-color:#2d303a;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid #323746    ;
}
.logo {
    display: flex;
    align-items: center;
}

.header-h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size:25px;
    letter-spacing: -0.02em;
}
.header-h1-star {
    color:#f06c64;
    font-size: 26px;
}
.navigation{    
    display:flex;
    padding-top: 8px;
}
.header__navigation{
    align-self: center;
    font-size:12px;
    text-transform: uppercase;
    color:white;
    cursor: pointer ;
}

.navigation-item {
    color: #323746;
    margin-left: 28px;
}

.navigation-link {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.red-link{
    text-decoration: none;
    color:#f06c64;
}
.red-item{
    list-style-type: none;
}
.header__navigation a:hover{
    color:#f06c64;
}

/*body styles*/

/*************************************singolo1*****************************************/

/*singolo1.slider*/


.promo{
    display: flex;
    padding: 0 40px;
    height: 594px;
    border-bottom: 6px solid #ea676b;;
    align-items: center;
    justify-content: space-between;
    background-color:#f06c64;
}   
.yellowPhone{
    margin-right: 17px;
    padding-bottom: 5px;
}
.bluePhone{
    padding-bottom: 5px;
    
}
.arrow{
    cursor: pointer;
}
.arrow:hover{
    outline:2px solid pink;
}

/*singolo1.ourServices*/

.ourServices{
    background-color: #f2f2f2;
    padding:59px 40px 0px 40px ;
    height:435px;
    border-bottom: 6px solid #ffffff;;
}

.ourServices-h2{
    color: #666d89;
    font-size: 30px;
    letter-spacing: -0.2px;
    margin-bottom: 18px;
    font-weight: 900;
}
.ourServices-h2-text{
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 42px;
    color: #767e9e;
    font-weight: 300;
    height: 60px;
    overflow: hidden;
}
.tool_icon{
    padding-top:4px;
}


.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service{
    display: flex;
    align-items: flex-start;
    width: 300px;
    height: 90px;
    margin-bottom: 33px
    
}
.service-header {
    font-size: 18px;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    color: #666d89;
}
.service-text{
    padding-left: 18px;
}
.service-text-p{
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    margin-top: 9px;
    color: #767e9e;
    white-space: pre-wrap;
    font-weight: 400;

}

/*************************************singolo2*****************************************/
/*singolo2.portfolio*/
.portfolio{
    height: 804px;
    padding: 59px 40px 0px 40px;
    border-bottom: 6px solid #323746;
    background-color: #2d303a;
}
.portfolio-h2{
    color: #666d89;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: -0.2px;
    margin-bottom: 22px;
    
}
.portfolio-h2-text{
    color: #767e9e;
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    margin-bottom: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.button{
    border-radius: 5px;
    font-size: 12px;
    padding: 3px 6px;
    padding-bottom: 2px;
    margin-right: 7px;
    color: #666d89;
    border: 1px solid #666d89;
    background-color: #2d303a;
    margin-bottom: 19px;
    cursor: pointer;
}
.button:hover{
    color:#767e9e;
    border: 1px solid #767e9e;
}
.whiteButton{
    color:#c5c5c5;
    margin-left: 1px;
    border: 1px solid #c5c5c5;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 601px;
    overflow: hidden;
}
.gallery-img{
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

/*singolo2.aboutUs*/

.aboutUs{
    height: 669px;
    padding: 0 40px;
    padding: 59px 40px 0 40px;
    padding-top: 59px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
    overflow: hidden;
}
.aboutUs-h2{
    font-size: 30px;
    color: #666d89;
    font-weight: 800;
    letter-spacing: -0.2px;
    margin-bottom: 18px;
}
.aboutUs-h2-text{
    font-size: 18px;
    text-align: justify;
    color: #767e9e;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 45px;
}
.profiles{
    display: flex;
    justify-content: space-between;
}
.person{
    width: 300px;
}
.person-photo{
    width: 300px;
    margin-bottom: 11px;
}
.person-name{
    font-size: 18px;
    color: #666d89;
    font-weight: 900;
    margin-bottom: 9px;
    letter-spacing: -0.2px;
    height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.person-text{
    font-size: 12px;
    text-align: justify;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    letter-spacing: -0.06px;
    margin-bottom: 21px;
}
.social-link{
    cursor: pointer;
}
.person-links img{
    margin-right: 2px;
}
.social-link:hover{
    outline: 1px solid #767e9e;
}

/*************************************singolo3*****************************************/

.whiteText{
    color: #f0d8d9;
}

.getAQuote {
    height: 648px;
    padding:0 40px;
    background-color: #f06c64;
    border-bottom:6px solid #ea676b;
}

.getAQuote-h2{
    font-size: 30px;
    font-weight: 900;
    padding-top: 59px;
    letter-spacing: -0.2px;
}

.getAQuote-h2-text  {
    padding-top: 20px;
    padding-bottom: 44px;
    font-size: 18px;
    font-weight: 300;
    word-spacing: 0.03px;
    line-height: 29px;
    white-space: normal;
    text-align: justify;
}

.getAQuote-content{
    display: flex;
}

.contactInfot-h3{
    font-size: 18px;
    line-height: 16px;
    letter-spacing: -0.1px;
}
.contactInfot-h3-text{
    margin-top: 12px;
    font-size: 12px;
    letter-spacing: -0.04px;
    line-height: 22px;
    text-align: justify;
}

.field-wrapper{
    width: 619px;
    margin-right: 21px;
    margin-bottom: 29px;
    display: flex;
    flex-direction: column;
}
.field{
    width: 605px;
    height: 36px;
    font-weight: 400;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    padding:0 0 2px 14px;
    border: hidden;
    margin-bottom: 16px;
    font-size: 12px;
    vertical-align: top;
    outline:none;
}
.field:required:valid{
    outline: 2px solid green;
    outline-style: auto;
}
.field:required:invalid:focus{
    outline: 2px solid red;
    outline-style: auto;
}

button.send{
    justify-content: flex-end;
    width: 80px;
    height: 22px;
    align-self: flex-end;
    border-radius: 5px;
    cursor: pointer;
    background-color: #d6564f;
}

::placeholder {
    color: #f48c8f;
}
.largeField{
    padding-bottom: 166px;
}
.contactInfo{
    width: 300px;
}
.contact-wrapper{
    margin-top: 20px;
    margin-left: 3px
}
.contact-wrapper div{
    display: flex;
    line-height: 22px;
}
.contact__link{
    text-decoration: none;
    color:inherit;
}

.contact{
    font-size: 12px;
}
.contact-img {
    min-width: 20px;
}
.footer{
    display: flex;
    height: 76px;
}
.footer{
    height: 76px;
    background-color: #2d303a;  
    display: flex;
    justify-content: space-between;
    padding:0 40px;
    align-items: center;
}
.footer-links img{
    padding-left: 1px;
    margin-top: 3px;
    margin-left: 1px
}
.copyright{
    color:#656d89;
    font-size: 12px;
    padding-bottom: 2px;
    padding-left: 2px;
    letter-spacing: -0.2px;

}